 .carousel-item img{
    height: 70vh;
    object-fit: cover;
}

.products .badge{
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: pink;
}